.container{
	background-color: orange;
}

.alex{
	font-size: 90px;
	background-color: pink;
	vertical-align: middle;
	
	
}

	
.ben{
	font-size: 30px;
	background-color: lime;
	vertical-align :middle;
	/* 박스의 중앙을 부모의 중앙에 맞춤*/
	
}

.chris{
	font-size: 60px;
	background-color: yellow;
	
}